.profile-card{
    position: relative;
    width: 200px;
    height: 200px;
    background: #fff;
    padding: 30px;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
}
.profile-card:hover{
    border-radius: 10px;
    height: 260px;
    /* padding-bottom: 20px; */
}
.profile-card .img{
    position: relative;
    left: -5px;
    width: 100%;
    height: 100%;
    transition: .6s;
    /* z-index: 999; */
}
.profile-card:hover .img{
    transform: translateY(-60px);
}
.img img{
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
}
.profile-card:hover img{
    border-radius: 10px;
     
}
.caption{
    text-align: center;
    transform: translateY(-100px);
    opacity: 0;
    transition: .6s;
    display: flex;
    flex-direction: column;

}
.caption h3{
    font-size: 18px;
   
}
.profile-card:hover .caption{
    opacity: 1;
}
.caption p{
    font-size: 15px;
    color: #0c52a1;
    margin: 2px 0px 6px 0px;
}
.caption .social-links a{
    color:#333;
    margin-right:-8px;
    font-size: 18px;
    transition: .6s;
}
.social-links a:hover{
    color: #0c52a1;
}
.social-links ul{
    display: flex;
    justify-content: center;
}
.social-links li{
    margin-left: 10px;
}